<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% load staticfiles %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>主页</title>
  <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'home/css/person_page.css' %}">
  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="{% static 'home/js/jquery.min.js' %}"></script>
  <![endif]-->
  <style type="text/css">
    .container {
      width: 1032px;
    }
  </style>
</head>
<body style="background: #F6F6F6;">
{% include 'home/nav.html' %}
<div class="container" style="margin-top: 70px;margin-bottom: 10px;">
  <div class="person-background">
    {% if user.background %}
      <img src="{{ MEDIA_URL }}{{ user.background }}" alt="" style="width: 100%;height: 100%;object-fit: cover">
    {% else %}
      <img src="{{ MEDIA_URL }}defult_bcg.jpg" alt="" style="width: 100%;height: 100%;object-fit: cover">
    {% endif %}

  </div>
  <div class="wrapper">
    <div class="main">
      <div style="top: -60px;position: absolute;left: 0;z-index: 1;">
        <div class="userAvatar">
          {% if user.avatar %}
            <img src="{{ MEDIA_URL }}{{ user.avatar }}" alt="" width="160" height="160">
          {% else %}
            <img src="{{ MEDIA_URL }}akari.jpg" alt="" width="160" height="160">
          {% endif %}
        </div>
      </div>
      <div class="content">
        <div class="content-head">
          <h1 class="head-title">
            <a href="{% url 'anotherone' user.to_user_id 'strategy' %}"><span class="title-name">{{ user.username }}</span></a>
            <span class="title-headline">{{ user.sign }}</span>
          </h1>
        </div>
        <div class="content-body">
          <div class="body-info">
            <div class="icon-wrapper">
              {% if user.sex == 'male' %}
                <svg width="14" height="16" viewBox="0 0 14 14" aria-hidden="true">
                <g>
                  <path d="M3.025 10.64c-1.367-1.366-1.367-3.582 0-4.95 1.367-1.366 3.583-1.366 4.95 0 1.367 1.368 1.367 3.584 0 4.95-1.367 1.368-3.583 1.368-4.95 0zm10.122-9.368c-.002-.414-.34-.75-.753-.753L8.322 0c-.413-.002-.746.33-.744.744.002.413.338.75.75.752l2.128.313c-.95.953-1.832 1.828-1.832 1.828-2.14-1.482-5.104-1.27-7.013.64-2.147 2.147-2.147 5.63 0 7.777 2.15 2.148 5.63 2.148 7.78 0 1.908-1.91 2.12-4.873.636-7.016l1.842-1.82.303 2.116c.003.414.34.75.753.753.413.002.746-.332.744-.745l-.52-4.073z"
                        fill-rule="evenodd"></path>
                </g>
              </svg>
              {% else %}
                <svg width="14" height="16" viewBox="0 0 12 16" class="Icon Icon--female" aria-hidden="true" style="height: 16px; width: 14px;">
                <title></title>
                <g>
                  <path d="M6 0C2.962 0 .5 2.462.5 5.5c0 2.69 1.932 4.93 4.485 5.407-.003.702.01 1.087.01 1.087H3C1.667 12 1.667 14 3 14s1.996-.006 1.996-.006v1c0 1.346 2.004 1.346 1.998 0-.006-1.346 0-1 0-1S7.658 14 8.997 14c1.34 0 1.34-2-.006-2.006H6.996s-.003-.548-.003-1.083C9.555 10.446 11.5 8.2 11.5 5.5 11.5 2.462 9.038 0 6 0zM2.25 5.55C2.25 3.48 3.93 1.8 6 1.8c2.07 0 3.75 1.68 3.75 3.75C9.75 7.62 8.07 9.3 6 9.3c-2.07 0-3.75-1.68-3.75-3.75z" fill-rule="evenodd"></path>
                </g>
              </svg>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="content-foot">
          <div class="foot-button-right">
            <button type="button" class="Button-blue Button" onclick="$(location).attr('href', '/open_chat');">
              返回私信列表
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--主内容-->
<div class="container" style="min-height: 550px;display: flex;flex-direction: row;margin-bottom: 100px;">
  <div class="Left" style="width: 70%;min-height: 550px;margin-right: 1%;background: #ffffff;">
    <div class="chat-box" id="dialog">
      <div>
        <div style="margin-top: 20px;"><span style="color: #999;">发私信给 </span><span>{{ name }}</span></div>
        <div style="margin: 15px 0; ">
          <textarea  id="chat_message" name="" cols="30" rows="10" style="resize:none;width: 100%;height: 66px;"></textarea>
        </div>
        <div style="text-align: right">
          <button style="background: #0D6EB8;color: #fff;padding: 5px 10px;border: none;border-radius: 3px;" id="send_chat">发送</button>
        </div>
      </div>
      {% if chat_dialog %}
      <div>
        {% for item in chat_dialog %}
          <div data-value="{{ item.send_user.id }}" class="chat-msg">
          {% if item.send_user.avatar %}
            <div style="margin-right: 20px;border: 1px lightgrey solid;"><img src="{{ MEDIA_URL }}{{ item.send_user.avatar }}" alt="" width="50" height="50"></div>
          {% else %}
            <div style="margin-right: 20px;border: 1px lightgrey solid;"><img src="{{ MEDIA_URL }}akari.jpg" alt="" width="50" height="50"></div>
          {% endif %}

          <div class="chat-right">
            <div style="">
              {% if item.send_user.id == user_id %}
                <span>我： </span>
              {% else %}
                <span>{{ item.send_user.username }}： </span>
              {% endif %}

              <span>{{ item.content }}</span>
            </div>
            <div class="time-reply">
              <span style="color: #999;">{{ item.create_time }}</span>
              <span>
                <a href="">删除</a>
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% include 'home/body-right.html' %}
</div>
</div>
</body>
<script type="text/javascript">
  $(function () {
    $('#send_chat').click(function () {
      $.ajax({
        cache:false,
        type:"POST",
        url:'{% url 'send_chat' %}',
        data:{
          content: $('#chat_message').val(),
          to_user:{{ another_id }}
        },
        async: true,
        success: function (result) {
          console.log('re', result);
          alert(result.status);
          window.location.reload()
        }
      })
    })
  })
  function edit() {
    $(location).attr('href', 'edit');
  }
</script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
</html>